.container{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
div{
    width: 120px;
    height: 120px;
}